@import "./../../mainStyles/variables.scss";


.news{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.news-margin{
    margin-top: 30px;
    margin-bottom: 30px;
}

.news__inner{
    border-radius: 20px;
    overflow: hidden;
    width: 90%;
    height: 90%;
    background: $main_color;
}
.news__posts{
    
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



