@import "./../../mainStyles/variables.scss";
.news__menu_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100px;
    padding: 10px;

    @include phone{
        height: 80px;
    }
    
}

.news__filters{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
    
    @include phone{
        justify-content: center;
    }
    
}

.news__filter{
    cursor: pointer;
    border: transparent;
    margin: 0 10px;
  

    &:hover{
        animation: vibrate-1 0.3s linear infinite both;
    }
}

.news__menu_logo{
    width: 100px;
    height: 100px;
    fill:#fff;
    @include phone{
        width: 60px;
    }

    
}

.news___input-search{
   
    max-width: 150px;
    @include phone{
    height: 30px;
       width: 80%;
    }
}



.burger-icon{
    margin-right: 20px;
    font-size: 14px;
}
.burger-menu__close_btn{
    position: absolute;
    font-weight: 900;
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
    left: 10px;
}

.burger-menu{
    display: flex;
    flex-direction: column;
    top: 0;
    position: absolute;
    right: 0;
    z-index: 11;
    border-radius: 20px 0 0 20px;
    width: 20%;
    max-width: 300px;
    min-height: 100px;
    background: $main_color;
    min-width: 250px;

    @include phone{
        
    }
    
}
.burger-menu_open{
    display: flex;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940)  both;   
    // animation-fill-mode:
}
.burger-menu_close{
    animation: slide-right 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;  
    // display: none;
}






.burger-menu__btn{
    color: #fff;
    font-weight: 500;
    padding: 10px;
    user-select: none; 
    &:first-child{
        padding-top: 200px;
        margin-top: 40px;
    }
   
}

.burger-menu__btn_active{
   pointer-events: none;
    border: 3px solid #fff !important;
    border-radius: 20px;
    
    
}

.disabled-link{
    opacity: 0.7;
    pointer-events: none;    
}